<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <% if user_signed_in? %>
        <%= article.user.name %><br>
      <% end %>
      <%= article.title %><br>
      <%= article.body %>
    </li>
  <% end %>
</ul>

<%= link_to "New Post", new_article_path %><br>
<% if user_signed_in? %>
  <div class="control">
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
<% end %>
<%= link_to "Sign Up", new_user_registration_path %> <br>
<%= link_to "Sign In", new_user_session_path %>
